* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f3ecfa;
  color: #403e3e;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*--------------- heading + paragraph ---------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #26004d;
  font-size: 240%;
  letter-spacing: 1px;
}

h2 {
  color: #26004d;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  word-spacing: 2px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  letter-spacing: 1px;
}

p {
  font-size: 100%;
  word-spacing: 1px;
  margin: 10px;
  line-height: 1.5;

}

/*---------------Header---------------------*/
header {
  background: linear-gradient(to bottom left, #d7c8f3 5%, #b3a1d4 100%);
  width: 100%;
  height: auto;
}

header h1 {
  text-shadow: 2px 2px 8px #d97dd7;
  text-align: left;
  word-spacing: 8px;
  letter-spacing: 4px;
  padding-top: 10px;
  padding-left: 15px;
  ;
}

header img {

  height: 96px;
  float: right;
  position: absolute;
  right: -10px;
  top: 5;
  top: 0;
  margin-right: 30px;
  z-index: 5;
  width: auto;
  max-width: 15vw;
  height: auto;
  display: block;
  clear: both;
}

/*---------------Sections---------------------*/
.sections {
  background-color: #f1d1f1;
  margin: 40px;
}

section dl,
dt,
dd {
  word-spacing: 1px;
  margin: 10px;
}

dt {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

dd {
  padding: 5px;
}

/*---------------Footer---------------------*/
.footer {
  align-items: center;
  padding: 30px;
  background-color: #26004d;
  text-align: center;
}

.footer a:link {
  font-size: 100%;
  font-weight: 400;
  color: #ebe3f9;
  text-decoration: none
}

.footer a:hover {
  font-size: 120%;
  text-decoration: none;
  border-bottom: 2px solid;
  color: #5fcdde;
}

.footer a:visited {
  color: #26004d;
  ;
}

/*---------------Index Table---------------------*/
table {
  border-collapse: collapse;
  width: 50%;
  margin: 25px auto;

}

table caption {
  font-weight: 300;
  font-size: 140%;
  color: #26004d;
  margin-bottom: 10px;
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #9e6cf9;
  color: #fff;
}



tbody tr:hover {
  background-color: #be97fb;
}

/*---------------Contact Us---------------------*/

.centerText {
  text-align: center;
}


fieldset {
  border: 2px solid #d7c8f3;

}


fieldset legend {
  font-size: 100%;
  padding: 5px;
}

fieldset h3 {
  text-align: left;
}

fieldset label {
  margin: 10px 10px;
}

input,
textarea {
  border: 2px solid #26004d;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 4px 0;
}

textarea {
  width: 100%;
}

.button {
  background-color: #6e36a6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 80%;
  font-weight: 400;
  margin: 10px 10px;
}

input radio {
  color: #26004d;
}

.button:hover {
  background-color: #8351b5;
  color: white;
}

/*---------------FAQs page---------------------*/

section li a {
  font-size: 100%;
  font-weight: 200;
  color: #26004d;
  text-decoration: none;

}

section li a:hover {
  text-decoration: none;
  color: #ce25e4;
  border-bottom: 2px solid
}

.cardPhoto {
  width: 100%
}

.cardFaq {
  text-align: center;
  width: 50%;
  margin: 25px auto;
}

/*---------------Gallery page---------------------*/

figure {
  margin-top: 30px;
}

figure a .gallery {
  width: 200px;
  height: 200px;
  border: 3px solid rgba(105, 192, 235, 0.376);
  box-shadow: 0 0 2px 1px #b8b3e9;
  margin-left: 30px;
}

figure figcaption {
  margin-top: 20px;
  clear: both;
  color: #2E6C85;
}